extends ../../layouts/default

block content

  .container.max-width-md.legal
    section.padding-bottom-md
      h1 Cookie Policy
      p Questa politica sulla gestione dei Cookie (“Politica”) spiega come per noi sia decisamente importante metterti nelle condizioni di conoscere chiaramente come intendiamo utilizzare i tuoi dati.
      p Nello spirito della trasparenza, questa politica fornisce informazioni dettagliate su come e quando utilizziamo i cookie sui nostri siti. Ai fini di questa politica, il termine, #{nomeAzienda}, deve fare riferimento al sito #{url}.
      p Per semplicità in questa politica ci si riferirà ad essi con il termine #{nome}. Questa politica è resa in attuazione del provvedimento del Garante per la protezione dei dati personali dell'8 maggio 2014 e nel rispetto dell'art. 13 del Codice privacy (D.Lgs. n. 196/2003).
      p L'informativa è predisposta ed aggiornata da #{titolare}, gestore del sito web e Titolare del trattamento di dati personali ad esso connessi, e-mail #{email}.
      p Ai medesimi recapiti è possibile rivolgersi per esercitare i diritti previsti dal Codice a favore dell'interessato (art. 7 e ss D.Lgs. 30 giugno 2003, n. 196: ad esempio, accesso, cancellazione, aggiornamento, rettificazione, integrazione, ecc.), nonché per chiedere l'elenco aggiornato dei Responsabili del trattamento eventualmente designati.

    section.padding-bottom-md
      h3 #{nome} utilizza i cookie?
      p Sì. #{nome} utilizza i cookies e altre tecnologie per assicurare, a chiunque vi acceda, la migliore esperienza utente.

    section.padding-bottom-md
      h3 Cosa sono i cookie?
      p I cookie sono stringhe di testo di piccola dimensione che un sito web può inviare, durante la navigazione, al dispositivo dell'utente (sia esso un pc, un notebook, uno smartphone, un tablet; di norma sono conservati direttamente sul browser utilizzato per la navigazione). Lo stesso sito web che li ha trasmessi, poi, può leggere e registrare i cookie che si trovano sul dispositivo per ottenere informazioni di vario tipo.

    section.padding-bottom-md
      h3 Perché #{nome} usa i cookie?
      p Quando visiti i nostri siti, salviamo alcuni cookie nel tuo browser. Ad esempio, usiamo dei cookie per monitorare i visitatori e capire quali sono le loro preferenze, migliorare la loro esperienza, tracciare ed analizzare informazioni statistiche sull’utilizzo e la navigazione. Puoi controllare autonomamente l’utilizzo dei cookie attraverso il tuo browser. Se disabiliti un cookie puoi certamente continuare ad usare #{nome} ma alcune funzionalità o aree potrebbero non essere disponibili o funzionare con limitazioni.

    section.padding-bottom-md
      h3 Quanti tipi di cookie esistono?
      p Esistono vari tipi di cookie, con caratteristiche differenti. Possono essere classificati innanzitutto come cookie:
      ul
        li DI SESSIONE: vengono cancellati immediatamente alla chiusura del browser;
        li PERSISTENTI: rimangono nel browser per un tempo pari alla loro durata (variabile);
        li PRIMA PARTE: forniti direttamente dal gestore del sito web;
        li TERZA PARTE: forniti da soggetti diversi dal gestore del sito web (in forza di regola, di un contratto tra il titolare del sito web e la terza parte);

    section.padding-bottom-md
      h3 A quali categorie possono appartenere?
      p COOKIE TECNICI
      p I cookie tecnici sono generalmente necessari per il corretto funzionamento del sito web e per permettere la navigazione; senza di essi il navigatore potrebbe non essere in grado di visualizzare correttamente le pagine oppure di utilizzare alcuni servizi. Per esempio, un cookie tecnico è indispensabile per mantenere l'utente collegato durante tutta la visita ad un sito web, oppure per memorizzare le impostazioni della lingua, della visualizzazione, e così via. I cookie tecnici possono essere ulteriormente distinti in cookie di navigazione, che garantiscono la normale navigazione e fruizione del sito web (permettendo, ad esempio, di realizzare un acquisto o autenticarsi per accedere ad aree riservate); cookie analytics, assimilati ai cookie tecnici solo laddove utilizzati direttamente dal gestore del sito per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito stesso; cookie di funzionalità, che permettono all'utente la navigazione in funzione di una serie di criteri selezionati (ad esempio, la lingua, i prodotti selezionati per l'acquisto) al fine di migliorare il servizio reso allo stesso.
      br
      p COOKIE DI PROFILAZIONE
      p I cookie di profilazione sono volti a creare profili relativi all'utente e vengono utilizzati per promuovere offerte in linea con le preferenze manifestate dallo stesso nell'ambito della navigazione in rete. In ogni caso #{nome} non usa questa categoria di cookie.

    section.padding-bottom-md
      h3 Come disabilitare i cookie?
      p Puoi accettare o negare l’utilizzo dei cookies attraverso le funzionalità che ogni browser mette a disposizione. Per saperne di più:
      ul
        li!="Clicca <a href='https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie?cache=no'>qui</a> per le impostazioni di “Navigazione privata” e la gestione dei Cookie con Firefox;"
        li!="Clicca <a href='https://support.google.com/chrome/answer/95647?hl=it'>qui</a> per le impostazioni di “Navigazione privata” e la gestione dei Cookie con  Chrome;"
        li!="Clicca <a href='https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies'>qui</a> per le impostazioni di “Navigazione privata” e la gestione dei Cookie con IE;"
        li!="Clicca <a href='https://support.apple.com/kb/PH19214?locale=en_US&viewlocale=it_IT'>qui</a> per le impostazioni di “Navigazione privata” e la gestione dei Cookie con Safari;"

    section.padding-bottom-md
      h3 Quali cookie usa #{nome}?
      ul
        li Cookie tecnici​ che garantiscono la corretta fruizione del sito;
        li Cookie analitici di terza parte come strumento di analisi anonima e aggregata circa i comportamenti dei navigatori sul sito stesso; questi cookie ci consentono di comprendere come i nostri utenti usano UTOPIA e ci permettono di migliorarne la struttura ed il contenuto;

    section.padding-bottom-md
      h3 Cookie tecnici - Terza parte
      ul
        li
          i _gat
          span : di Google Analytics, usato per regolare il numero di accessi al servizio sui siti con traffico intenso. (sessione)

        li
          i _ga
          span : cookie generato da Google Analytics. Viene utilizzato per consentire al gestore del sito di raccogliere dati aggregati sul comportamento dell'utente. (2 anni)

        li
          i _gid
          span : generato da Google Analytics, viene utilizzato con lo scopo di realizzare un'analisi statistica. (durata 24 ore)

        li
          i _dc_gtm
          span : generato da Google Tag Manager pixel per Universal Google Analytics

        li
          i _ajs
          span : generato da Google Analytics, aiutano a contare quante persone visitano il sito monitorando se si è già visitato. (durata di 1 anno)
